In [2]:
import numpy as np
import pandas as pd

In [58]:
df = pd.read_csv("hebergements_classes.csv", sep=';', delimiter=None)

In [59]:
df.head()

,DATE DE CLASSEMENT,TYPOLOGIE ÉTABLISSEMENT,CLASSEMENT,CATÉGORIE,MENTION (villages de vacances),NOM COMMERCIAL,ADRESSE,CODE POSTAL,COMMUNE,SITE INTERNET,TYPE DE SÉJOUR,CAPACITÉ D'ACCUEIL (PERSONNES),NOMBRE DE CHAMBRES,NOMBRE D'EMPLACEMENTS,NOMBRE D'UNITES D'HABITATION (résidences de tourisme),NOMBRE DE LOGEMENTS (villages de vacances)
0,18/10/2018,HÔTEL DE TOURISME,4 étoiles,-,-,1872 STADIUM HÔTEL,Boulevard de Leningrad,76600,LE HAVRE,https://www.1872stadiumhotel.com/fr/,-,40,20,-,-,-
1,20/10/2021,HÔTEL DE TOURISME,4 étoiles,-,-,25HOURS HÔTEL TERMINUS NORD,12 boulevard de Denain,75010,PARIS 10E ARRONDISSEMENT,https://www.25hours-hotels.com/fr,-,489,237,-,-,-
2,26/09/2019,HÔTEL DE TOURISME,2 étoiles,-,-,3B HÔTEL DE BORDEAUX,66 avenue de la Libération,33440,AMBARÈS-ET-LAGRAVE,https://www.hotel-restaurant-gironde.fr/,-,26,14,-,-,-
3,12/06/2017,HÔTEL DE TOURISME,4 étoiles,-,-,5 TERRES HÔTEL & SPA MGALLERY BY SOFITEL,11 Place de l'Hôtel de ville,67140,BARR,https://5terres-hotel.fr/fr/,-,56,27,-,-,-
4,22/09/2017,HÔTEL DE TOURISME,4 étoiles,-,-,7HÔTEL&SPA,550 Boulevard Sébastien Brandt,67400,ILLKIRCH-GRAFFENSTADEN,https://7hotel.fr/,-,312,139,-,-,-

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21867 entries, 0 to 21866
Data columns (total 16 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   DATE DE CLASSEMENT                                     21867 non-null  datetime64[ns]
 1   TYPOLOGIE ÉTABLISSEMENT                                21867 non-null  object
 2   CLASSEMENT                                             21867 non-null  object
 3   CATÉGORIE                                              21867 non-null  object
 4   MENTION (villages de vacances)                         21867 non-null  object
 5   NOM COMMERCIAL                                         21867 non-null  object
 6   ADRESSE                                                21867 non-null  object
 7   CODE POSTAL                                            21867 non-null  int64
 8   COMMUNE                                                21867 non-null  object
 9   SITE INTERNET                                          21867 non-null  object
 10  TYPE DE SÉJOUR                                         21867 non-null  object
 11  CAPACITÉ D'ACCUEIL (PERSONNES)                         21867 non-null  int64
 12  NOMBRE DE CHAMBRES                                     21867 non-null  int64
 13  NOMBRE D'EMPLACEMENTS                                  21867 non-null  int64
 14  NOMBRE D'UNITES D'HABITATION (résidences de tourisme)  21867 non-null  int64
 15  NOMBRE DE LOGEMENTS (villages de vacances)             21867 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(9)
memory usage: 2.7+ MB

In [81]:
df.groupby(['TYPOLOGIE ÉTABLISSEMENT']).size()

TYPOLOGIE ÉTABLISSEMENT
CAMPING                         6083
HÔTEL DE TOURISME              13461
PARC RÉSIDENTIEL DE LOISIRS      157
RÉSIDENCE DE TOURISME           1603
VILLAGE DE VACANCES              563
dtype: int64

In [75]:
df.groupby(['CLASSEMENT']).size()

CLASSEMENT
1 étoile            853
2 étoiles          6015
3 étoiles         10190
4 étoiles          4016
5 étoiles           750
Aire naturelle       43
dtype: int64

In [82]:
df.groupby(['TYPOLOGIE ÉTABLISSEMENT', 'CLASSEMENT']).size()

TYPOLOGIE ÉTABLISSEMENT      CLASSEMENT
CAMPING                      1 étoile           342
                             2 étoiles         1716
                             3 étoiles         2481
                             4 étoiles         1245
                             5 étoiles          256
                             Aire naturelle      43
HÔTEL DE TOURISME            1 étoile           400
                             2 étoiles         3988
                             3 étoiles         6374
                             4 étoiles         2250
                             5 étoiles          449
PARC RÉSIDENTIEL DE LOISIRS  1 étoile            24
                             2 étoiles           30
                             3 étoiles           65
                             4 étoiles           33
                             5 étoiles            5
RÉSIDENCE DE TOURISME        1 étoile            54
                             2 étoiles          183
                             3 étoiles          911
                             4 étoiles          418
                             5 étoiles           37
VILLAGE DE VACANCES          1 étoile            33
                             2 étoiles           98
                             3 étoiles          359
                             4 étoiles           70
                             5 étoiles            3
dtype: int64

In [76]:
df.groupby(['CATÉGORIE']).size()

CATÉGORIE
LOISIRS           1007
NON RENSEIGNÉ    15829
TOURISME          5031
dtype: int64

MENTION (villages de vacances) <br />
TYPE DE SÉJOUR <br />
CAPACITÉ D'ACCUEIL (PERSONNES) <br />
NOMBRE DE CHAMBRES <br />
NOMBRE D'EMPLACEMENTS <br />
NOMBRE D'UNITES D'HABITATION (résidences de tourisme) <br />
NOMBRE DE LOGEMENTS (villages de vacances) <br />

In [77]:
dfGroupMention = df["MENTION (villages de vacances)"].value_counts(ascending=False).reset_index()
print(dfGroupMention.head())
print()

dfGroupTypeSejour = df["TYPE DE SÉJOUR"].value_counts(ascending=False).reset_index()
print(dfGroupTypeSejour.head())

                           index  MENTION (villages de vacances)
0                  NON RENSEIGNÉ                           21593
1                            NON                             128
2           HEBERGEMENT_DISPERSE                              82
3              HEBERGEMENT_LEGER                              61
4  HEBERGEMENT_LEGER_ET_DISPERSE                               3

                      index  TYPE DE SÉJOUR
0             NON RENSEIGNÉ           21304
1           FORMULE_PENSION             244
2          FORMULE_LOCATION             160
3  FORMULE_LOCATION_PENSION             159

In [72]:
dfGroupNbC = df["CAPACITÉ D'ACCUEIL (PERSONNES)"].value_counts(ascending=False).reset_index()
print(dfGroupNbC.head())

dfGroupNbC = df['NOMBRE DE CHAMBRES'].value_counts(ascending=False).reset_index()
print(dfGroupNbC.head())

dfGroupNbE = df["NOMBRE D'EMPLACEMENTS"].value_counts(ascending=False).reset_index()
print(dfGroupNbE.head())

dfGroupNbUH = df["NOMBRE D'UNITES D'HABITATION (résidences de tourisme)"].value_counts(ascending=False).reset_index()
print(dfGroupNbUH.head())

dfGroupNbL = df['NOMBRE DE LOGEMENTS (villages de vacances)'].value_counts(ascending=False).reset_index()
print(dfGroupNbL.head())

  index  CAPACITÉ D'ACCUEIL (PERSONNES)
0   400                             270
1   200                             246
2   100                             237
3    20                             219
4   300                             201
  index  NOMBRE DE CHAMBRES
0     0                8407
1    10                 432
2    20                 401
3    15                 352
4    12                 343
  index  NOMBRE D'EMPLACEMENTS
0     0                  15626
1   100                    231
2    50                    153
3    80                    109
4    60                    103
  index  NOMBRE D'UNITES D'HABITATION (résidences de tourisme)
0     0                                              20267
1   100                                                 26
2    50                                                 20
3    54                                                 19
4    64                                                 19
  index  NOMBRE DE LOGEMENTS (villages de vacances)
0     0                                       21304
1    40                                          17
2    50                                          13
3    42                                          11
4    65                                          10

In [67]:
# making boolean series for a team name
filter1 = df["NOMBRE DE CHAMBRES"]!="-"
  
# making boolean series for age
filter2 = df["NOMBRE D'EMPLACEMENTS"]!="-"
  
# filtering data on basis of both filters
dfSelect = df.where(filter1 & filter2)

# df.loc[(df['NOMBRE DE CHAMBRES']>=100) & (df["NOMBRE D'EMPLACEMENTS"]< 60) & (df['FT_Team'].str.startswith('S')),['Name','FT_Team']]
df.loc[(df['NOMBRE DE CHAMBRES']!='-') & (df["NOMBRE D'EMPLACEMENTS"]!='-')]

,DATE DE CLASSEMENT,TYPOLOGIE ÉTABLISSEMENT,CLASSEMENT,CATÉGORIE,MENTION (villages de vacances),NOM COMMERCIAL,ADRESSE,CODE POSTAL,COMMUNE,SITE INTERNET,TYPE DE SÉJOUR,CAPACITÉ D'ACCUEIL (PERSONNES),NOMBRE DE CHAMBRES,NOMBRE D'EMPLACEMENTS,NOMBRE D'UNITES D'HABITATION (résidences de tourisme),NOMBRE DE LOGEMENTS (villages de vacances)
9433,17/07/2017,HÔTEL DE TOURISME,4 étoiles,-,-,HÔTEL CHÂTEAU DE LACAN,rue Jean Macé,19100,BRIVE-LA-GAILLARDE,www.hotelchateaulacan.com,-,37,15,436,-,-

In [74]:
df["MENTION (villages de vacances)"] = np.where((df["MENTION (villages de vacances)"] == '-'),'NON RENSEIGNÉ',df["MENTION (villages de vacances)"])

df["TYPE DE SÉJOUR"] = np.where((df["TYPE DE SÉJOUR"] == '-'),'NON RENSEIGNÉ',df["TYPE DE SÉJOUR"])

df['CATÉGORIE'] = np.where((df['CATÉGORIE'] == '-'),'NON RENSEIGNÉ',df['CATÉGORIE'])

df['CLASSEMENT'] = np.where((df['CLASSEMENT'] == '-'),'NON RENSEIGNÉ',df['CLASSEMENT'])

In [78]:
# df['Event'] = np.where((df.Event == 'Painting'),'Art',df.Event)
df["CAPACITÉ D'ACCUEIL (PERSONNES)"] = np.where((df["CAPACITÉ D'ACCUEIL (PERSONNES)"] == '-'),0,df["CAPACITÉ D'ACCUEIL (PERSONNES)"])
df["CAPACITÉ D'ACCUEIL (PERSONNES)"] = pd.to_numeric(df["CAPACITÉ D'ACCUEIL (PERSONNES)"])

df['NOMBRE DE CHAMBRES'] = np.where((df['NOMBRE DE CHAMBRES'] == '-'),0,df['NOMBRE DE CHAMBRES'])
df['NOMBRE DE CHAMBRES'] = pd.to_numeric(df['NOMBRE DE CHAMBRES'])

df["NOMBRE D'EMPLACEMENTS"] = np.where((df["NOMBRE D'EMPLACEMENTS"] == '-'),0,df["NOMBRE D'EMPLACEMENTS"])
df["NOMBRE D'EMPLACEMENTS"] = pd.to_numeric(df["NOMBRE D'EMPLACEMENTS"])

df["NOMBRE D'UNITES D'HABITATION (résidences de tourisme)"] = np.where((df["NOMBRE D'UNITES D'HABITATION (résidences de tourisme)"] == '-'),0,df["NOMBRE D'UNITES D'HABITATION (résidences de tourisme)"])
df["NOMBRE D'UNITES D'HABITATION (résidences de tourisme)"] = pd.to_numeric(df["NOMBRE D'UNITES D'HABITATION (résidences de tourisme)"])

df['NOMBRE DE LOGEMENTS (villages de vacances)'] = np.where((df['NOMBRE DE LOGEMENTS (villages de vacances)'] == '-'),0,df['NOMBRE DE LOGEMENTS (villages de vacances)'])
df['NOMBRE DE LOGEMENTS (villages de vacances)'] = pd.to_numeric(df['NOMBRE DE LOGEMENTS (villages de vacances)'])

In [84]:

df['DATE DE CLASSEMENT']= pd.to_datetime(df['DATE DE CLASSEMENT'])

In [90]:
df.head()
df.keys()
df.to_csv('Hebergements.csv', index=False, header=df.keys(), sep=';')

In [ ]:
- installer en bdd, hebergement + région/departement </br>
- créer une base de données SQL
- transformer date et mapper avec les région/departement
- créer des classes pythons pour récupérer les bons info